.env
.env.*
memoria.json
archivos_indice.json
archivos/
venv/
__pycache__/
credentials.json
credentials.json.json
google_tokens.json
pendientes.json
contactos.json
mensajes.json
chats/
*.pyc
honey_web.py.v1bak
